TETCppClient/TETCppClient.xcodeproj/xcuserdata/micky.xcuserdatad/xcschemes/xcschememanagement.plist
TETGazeApi/script_log.txt
TETGazeApi/TETGazeApi.dylib
TETGazeApi.xcworkspace/xcuserdata/micky.xcuserdatad/UserInterfaceState.xcuserstate
TETGazeApi/TETGazeApi.xcodeproj/xcuserdata/micky.xcuserdatad/xcschemes/xcschememanagement.plist
